@charset "UTF-8";
.Protoss-Pylon {
	color: #00a8ff;
}
.Vanadyl-Blue {
	color: #0097e6;
}
.Nasturcian-Flower {
	color: #e84118;
}
.Harley-Davidson-Orange {
	color: #c23616;
}
.Periwinkle {
	color: #9c88ff;
}
.Matt-Purple {
	color: #8c7ae6;
}
.Lynx-White {
	color: #f5f6fa;
}
.Hint-of-Pensive {
	color: #dcdde1;
}
.Rise-N-Shine {
	color: #fbc531;
}
.Nanohanacha-Gold {
	color: #e1b12c;
}
.Blueberry-Soda {
	color: #7f8fa6;
}
.Chain-Gang-Grey {
	color: #718093;
}
.Download-Progress {
	color: #4cd137;
}
.Skirret-Green {
	color: #44bd32;
}
.Mazarine-Blue {
	color: #273c75;
}
.Pico-Void {
	color: #192a56;
}
.Seabrook {
	color: #487eb0;
}
.Naval {
	color: #40739e;
}
.Blue-Nights {
	color: #353b48;
}
.Electromagnetic {
	color: #2f3640;
}