@charset "UTF-8";
.Jigglypuff {
	color: #ff9ff3;
}
.Lian-Hong-Lotus-Pink {
	color: #f368e0;
}
.Jade-Dust {
	color: #00d2d3;
}
.Aqua-Velvet {
	color: #01a3a4;
}
.Casandora-Yellow {
	color: #feca57;
}
.Double-Dragon-Skin {
	color: #ff9f43;
}
.Joust-Blue {
	color: #54a0ff;
}
.Bleu-De-France {
	color: #2e86de;
}
.Pastel-Red {
	color: #ff6b6b;
}
.Amour {
	color: #ee5253;
}
.Nasu-Purple {
	color: #5f27cd;
}
.Bluebell {
	color: #341f97;
}
.Megaman {
	color: #48dbfb;
}
.Cyanite {
	color: #0abde3;
}
.Light-Blue-Ballerina {
	color: #c8d6e5;
}
.Storm-Petrel {
	color: #8395a7;
}
.Wild-Caribbean-Green {
	color: #1dd1a1;
}
.Dark-Mountain-Meadow {
	color: #10ac84;
}
.Fuel-Town {
	color: #576574;
}
.Imperial-Primer {
	color: #222f3e;
}