@charset "UTF-8";

/*
	Name 			: Dutch Palette
	Date 			: 10 March 2019
	Author 			: Amir Shokri
	Email 			: amirsh.nll@gmail.com
	Url 			: https://github.com/amirsh-nll/Flat-UI-Colors
	Description 	: Dutch Palette by Jeroen Van Eerden from 🇳🇱 (https://flatuicolors.com/palette/nl)
*/


/* Sunflower */
.Sunflower {
	color: #FFC312;
}
.Sunflower-bg {
	background-color: #FFC312;
}

/* Radiant Yellow */
.Radiant-Yellow {
	color: #F79F1F;
}
.Radiant-Yellow-bg {
	background-color: #F79F1F;
}

/* Puffins Bill */
.Puffins-Bill {
	color: #EE5A24;
}
.Puffins-Bill-bg {
	background-color: #EE5A24;
}

/* Red Pigment */
.Red-Pigment {
	color: #EA2027;
}
.Red-Pigment-bg {
	background-color: #EA2027;
}

/* Energos */
.Energos {
	color: #C4E538;
}
.Energos-bg {
	background-color: #C4E538;
}

/* Android Green */
.Android-Green {
	color: #A3CB38;
}
.Android-Green-bg {
	background-color: #A3CB38;
}

/* Pixelated Grass */
.Pixelated-Grass {
	color: #009432;
}
.Pixelated-Grass-bg {
	background-color: #009432;
}

/* Turkish Aqua */
.Turkish-Aqua {
	color: #006266;
}
.Turkish-Aqua-bg {
	background-color: #006266;
}

/* Blue Martina */
.Blue-Martina {
	color: #12CBC4;
}
.Blue-Martina-bg {
	background-color: #12CBC4;
}

/* Mediterranean Sea */
.Mediterranean-Sea {
	color: #1289A7;
}
.Mediterranean-Sea-bg {
	background-color: #1289A7;
}

/* Merchant Marine Blue */
.Merchant-Marine-Blue {
	color: #0652DD;
}
.Merchant-Marine-Blue-bg {
	background-color: #0652DD;
}

/* 20000 Leagues Under the Sea */
.c20000-Leagues-Under-the-Sea {
	color: #1B1464;
}
.c20000-Leagues-Under-the-Sea-bg {
	background-color: #1B1464;
}

/* Lavender Rose */
.Lavender-Rose {
	color: #FDA7DF;
}
.Lavender-Rose-bg {
	background-color: #FDA7DF;
}

/* Lavender Tea */
.Lavender-Tea {
	color: #D980FA;
}
.Lavender-Tea-bg {
	background-color: #D980FA;
}

/* Forgotten Purple */
.Forgotten-Purple {
	color: #9980FA;
}
.Forgotten-Purple-bg {
	background-color: #9980FA;
}

/* Circumorbital Ring */
.Circumorbital-Ring {
	color: #5758BB;
}
.Circumorbital-Ring-bg {
	background-color: #5758BB;
}

/* Bara Red */
.Bara-Red {
	color: #ED4C67;
}
.Bara-Red-bg {
	background-color: #ED4C67;
}

/* Very Berry */
.Very-Berry {
	color: #B53471;
}
.Very-Berry-bg {
	background-color: #B53471;
}

/* Hollyhock */
.Hollyhock {
	color: #833471;
}
.Hollyhock-bg {
	background-color: #833471;
}

/* Magenta Purple */
.Magenta-Purple {
	color: #6F1E51;
}
.Magenta-Purple-bg {
	background-color: #6F1E51;
}