@charset "UTF-8";

.TURQUOISE {
	color : #1abc9c;
}
.GREEN-SEA {
	color: #16a085;
}
.SUN-FLOWER {
	color: #f1c40f;
}
.ORANGE {
	color: #f39c12;
}
.EMERALD {
	color: #2ecc71;
}
.NEPHRITIS {
	color: #27ae60;
}
.CARROT {
	color: #e67e22;
}
.PUMPKIN {
	color: #d35400;
}
.PETER-RIVER {
	color: #3498db;
}
.BELIZE-HOLE {
	color: #2980b9
}
.ALIZARIN {
	color: #e74c3c;
}
.POMEGRANATE {
	color: #c0392b;
}
.AMETHYST {
	color: #9b59b6;
}
.WISTERIA {
	color: #8e44ad;
}
.CLOUDS {
	color: #ecf0f1;
}
.SILVER {
	color: #bdc3c7;
}
.WET-ASPHALT {
	color: #34495e;
}
.MIDNIGHT-BLUE {
	color: #2c3e50
}
.CONCRETE {
	color: #95a5a6;
}
.ASBESTOS {
	color: #7f8c8d;
}