@charset "UTF-8";

/*
	Name 			: Indian Palette
	Date 			: 11 March 2019
	Author 			: Amir Shokri
	Email 			: amirsh.nll@gmail.com
	Url 			: https://github.com/amirsh-nll/Flat-UI-Colors
	Description 	: Indian Palette by Ranganath Krishnamani from 🇮🇳 (https://flatuicolors.com/palette/in)
*/


/* Orchid Orange */
.Orchid-Orange {
	color: #FEA47F;
}
.Orchid-Orange-bg {
	background-color: #FEA47F;
}

/* Rich Gardenia */
.Rich-Gardenia {
	color: #F97F51;
}
.Rich-Gardenia-bg {
	background-color: #F97F51;
}

/* Fiery Fuchsia */
.Fiery-Fuchsia {
	color: #B33771;
}
.Fiery-Fuchsia-bg {
	background-color: #B33771;
}

/* Magenta Purple */
.Magenta-Purple {
	color: #6D214F;
}
.Magenta-Purple-bg {
	background-color: #6D214F;
}

/* Spiro Disco Ball */
.Spiro-Disco-Ball {
	color: #25CCF7;
}
.Spiro-Disco-Ball-bg {
	background-color: #25CCF7;
}

/* Clear Chill */
.Clear-Chill {
	color: #1B9CFC;
}
.Clear-Chill-bg {
	background-color: #1B9CFC;
}

/* Bluebell */
.Bluebell {
	color: #3B3B98;
}
.Bluebell-bg {
	background-color: #3B3B98;
}

/* Ending Navy Blue */
.Ending-Navy-Blue {
	color: #182C61;
}
.Ending-Navy-Blue-bg {
	background-color: #182C61;
}

/* Honey Glow */
.Honey-Glow {
	color: #EAB543;
}
.Honey-Glow-bg {
	background-color: #EAB543;
}

/* Sarawak White Pepper */
.Sarawak-White-Pepper {
	color: #F8EFBA;
}
.Sarawak-White-Pepper-bg {
	background-color: #F8EFBA;
}

/* Georgia Peach */
.Georgia-Peach {
	color: #FD7272;
}
.Georgia-Peach-bg {
	background-color: #FD7272;
}

/* Sasquatch Socks */
.Sasquatch-Socks {
	color: #FC427B;
}
.Sasquatch-Socks-bg {
	background-color: #FC427B;
}

/* Sweet Garden */
.Sweet-Garden {
	color: #55E6C1;
}
.Sweet-Garden-bg {
	background-color: #55E6C1;
}

/* Keppel */
.Keppel {
	color: #58B19F;
}
.Keppel-bg {
	background-color: #58B19F;
}

/* Oasis Stream */
.Oasis-Stream {
	color: #9AECDB;
}
.Oasis-Stream-bg {
	background-color: #9AECDB;
}

/* Pine Glade */
.Pine-Glade {
	color: #BDC581;
}
.Pine-Glade-bg {
	background-color: #BDC581;
}

/* Falling Star */
.Falling-Star {
	color: #CAD3C8;
}
.Falling-Star-bg {
	background-color: #CAD3C8;
}

/* Ship's Officer */
.Ship-s-Officer {
	color: #2C3A47;
}
.Ship-s-Officer-bg {
	background-color: #2C3A47;
}

/* Bright Ube */
.Bright-Ube {
	color: #D6A2E8;
}
.Bright-Ube-bg {
	background-color: #D6A2E8;
}

/* Highlighter Lavender */
.Highlighter-Lavender {
	color: #82589F;
}
.Highlighter-Lavender-bg {
	background-color: #82589F;
}