@charset "UTF-8";

/*
	Name 			: Spanish Palette
	Date 			: 12 March 2019
	Author 			: Amir Shokri
	Email 			: amirsh.nll@gmail.com
	Url 			: https://github.com/amirsh-nll/Flat-UI-Colors
	Description 	: Spanish Palette by Miguel Camacho from 🇪🇸 (https://flatuicolors.com/palette/es)
*/


/* Jacksons Purple */
.Jacksons-Purple {
	color: #40407a;
}
.Jacksons-Purple-bg {
	background-color: #40407a;
}

/* Lucky Point */
.Lucky-Point {
	color: #2c2c54;
}
.Lucky-Point-bg {
	background-color: #2c2c54;
}

/* Fluorescent Red */
.Fluorescent-Red {
	color: #ff5252;
}
.Fluorescent-Red-bg {
	background-color: #ff5252;
}

/* Eye Of Newt */
.Eye-Of-Newt {
	color: #b33939;
}
.Eye-Of-Newt-bg {
	background-color: #b33939;
}

/* C64 Purple */
.C64-Purple {
	color: #706fd3;
}
.C64-Purple-bg {
	background-color: #706fd3;
}

/* Liberty */
.Liberty {
	color: #474787;
}
.Liberty-bg {
	background-color: #474787;
}

/* Synthetic Pumpkin */
.Synthetic-Pumpkin {
	color: #ff793f;
}
.Synthetic-Pumpkin-bg {
	background-color: #ff793f;
}

/* Chilean Fire */
.Chilean-Fire {
	color: #cd6133;
}
.Chilean-Fire-bg {
	background-color: #cd6133;
}

/* Swan White */
.Chilean-Fire {
	color: #cd6133;
}
.Chilean-Fire-bg {
	background-color: #cd6133;
}

/* Hot Stone */
.Hot-Stone {
	color: #aaa69d;
}
.Hot-Stone-bg {
	background-color: #aaa69d;
}

/* Crocodile Tooth */
.Crocodile-Tooth {
	color: #d1ccc0;
}
.Crocodile-Tooth-bg {
	background-color: #d1ccc0;
}

/* Grey Porcelain */
.Grey-Porcelain {
	color: #84817a;
}
.Grey-Porcelain-bg {
	background-color: #84817a;
}

/* Summer Sky */
.Summer-Sky {
	color: #34ace0;
}
.Summer-Sky-bg {
	background-color: #34ace0;
}

/* Devil Blue */
.Devil-Blue {
	color: #227093;
}
.Devil-Blue-bg {
	background-color: #227093;
}

/* Mandarin Sorbet */
.Mandarin-Sorbet {
	color: #ffb142;
}
.Mandarin-Sorbet-bg {
	background-color: #ffb142;
}

/* Alameda Ochre */
.Alameda-Ochre {
	color: #cc8e35;
}
.Alameda-Ochre-bg {
	background-color: #cc8e35;
}

/* Celestial Green */
.Celestial-Green {
	color: #33d9b2;
}
.Celestial-Green-bg {
	background-color: #33d9b2;
}

/* Palm Springs Splash */
.Palm-Springs-Splash {
	color: #218c74;
}
.Palm-Springs-Splash-bg {
	background-color: #218c74;
}

/* Spiced Butternut */
.Spiced-Butternut {
	color: #ffda79;
}
.Spiced-Butternut-bg {
	background-color: #ffda79;
}

/* Desert */
.Desert {
	color: #ccae62;
}
.Desert-bg {
	background-color: #ccae62;
}