@charset "UTF-8";

/*
	Name 			: Swedish Palette
	Date 			: 13 March 2019
	Author 			: Amir Shokri
	Email 			: amirsh.nll@gmail.com
	Url 			: https://github.com/amirsh-nll/Flat-UI-Colors
	Description 	: Swedish Palette by Jesper Dahlqvist from 🇸🇪 (https://flatuicolors.com/palette/se)
*/


/* Highlighter Pink */
.Highlighter-Pink {
	color: #ef5777;
}
.Highlighter-Pink-bg {
	background-color: #ef5777;
}

/* Sizzling Red */
.Sizzling-Red {
	color: #f53b57;
}
.Sizzling-Red-bg {
	background-color: #f53b57;
}

/* Nârenji Orange */
.Narenji-Orange {
	color: #ffc048;
}
.Narenji-Orange-bg {
	background-color: #ffc048;
}

/* Chrome Yellow */
.Chrome-Yellow {
	color: #ffa801;
}
.Chrome-Yellow-bg {
	background-color: #ffa801;
}

/* Dark Periwinkle */
.Dark-Periwinkle {
	color: #575fcf;
}
.Dark-Periwinkle-bg {
	background-color: #575fcf;
}


/* Free Speech Blue */
.Free-Speech-Blue {
	color: #3c40c6;
}
.Free-Speech-Blue-bg {
	background-color: #3c40c6;
}

/* Yriel Yellow */
.Yriel-Yellow {
	color: #ffdd59;
}
.Yriel-Yellow-bg {
	background-color: #ffdd59;
}

/* Vibrant Yellow */
.Vibrant-Yellow {
	color: #ffd32a;
}
.Vibrant-Yellow-bg {
	background-color: #ffd32a;
}

/* Megaman */
.Megaman {
	color: #4bcffa;
}
.Megaman-bg {
	background-color: #4bcffa;
}

/* Spiro Disco Ball */
.Spiro-Disco-Ball {
	color: #0fbcf9;
}
.Spiro-Disco-Ball-bg {
	background-color: #0fbcf9;
}

/* Sunset Orange */
.Sunset-Orange {
	color: #ff5e57;
}
.Sunset-Orange-bg {
	background-color: #ff5e57;
}

/* Red Orange */
.Red-Orange {
	color: #ff3f34;
}
.Red-Orange-bg {
	background-color: #ff3f34;
}

/* Fresh Turquoise */
.Fresh-Turquoise {
	color: #34e7e4;
}
.Fresh-Turquoise-bg {
	background-color: #34e7e4;
}

/* Jade Dust */
.Jade-Dust {
	color: #00d8d6;
}
.Jade-Dust-bg {
	background-color: #00d8d6;
}

/* Hint of Elusive Blue */
.Hint-of-Elusive-Blue {
	color: #d2dae2;
}
.Hint-of-Elusive-Blue-bg {
	background-color: #d2dae2;
}

/* London Square */
.London-Square {
	color: #808e9b;
}
.London-Square-bg {
	background-color: #808e9b;
}

/* Minty Green */
.Minty-Green {
	color: #0be881;
}
.Minty-Green-bg {
	background-color: #0be881;
}

/* Green Teal */
.Green-Teal {
	color: #05c46b;
}
.Green-Teal-bg {
	background-color: #05c46b;
}

/* Good Night! */
.Good-Night {
	color: #485460;
}
.Good-Night-bg {
	background-color: #485460;
}

/* Black Pearl */
.Black-Pearl {
	color: #1e272e;
}
.Black-Pearl-bg {
	background-color: #1e272e;
}